@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary: #9ac140; */
  --primary: #bd3ebd;
  --secondary: #6c9422;
  /* --secondary: #5c7f0e; */
  --btn: #273a0b;
  --white: #fafafa;
  --black: #525252;
  --hover: #5c7f0e;
  --foreground: #171717;
  --main-blue: #006798;
  --hover-blue: #008acb;
  --light-black: #808080;
}

body {
  color: var(--black);
  background: var(--white);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer components {
  .btn {
    @apply w-full lg:w-fit flex items-center text-center rounded-md text-white py-1.5 px-4 justify-center transition-all duration-300;
  }

  .btn-danger {
    @apply bg-neutral-500 hover:bg-red-500;
  }

  .btn-create {
    @apply bg-[#008dcb] hover:bg-blue-500;
  }

  .btn-primary {
    @apply transition-all duration-300 bg-primary hover:bg-secondary;
  }
}
