@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9ac140;
  --secondary: #6c9422;
  --btn: #273a0b;
  --white: #fafafa;
  --black: #404040;
  --background: #e8e3df;
  --foreground: #171717;
}
